<nav>
  <div class="site-title">
    <a href="/"><h1>Blog aman</h1></a>
    <p>A Aman site</p>
  </div>
  <ul>
    <li><a href="/">home page</a></li>
    <li><a href="/blogs">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/create">New Blog</a></li>
  </ul>
</nav>